<% layout('layouts/boilerplate')%>
    <div class="row mt-3">
        <div class="col-8 offset-4">
            <br>
            <h3>Create New Listing</h3>

            <form method="POST" action="/listings"  class="needs-validation" novalidate>
                <br>
                <div class="mb-3">
                    <label for="title" class="from-label">Title</label>
                    <br>
                    <input type="text" name="listing[title]" placeholder="Add catchy title" class="from-control"
                        required>
                        <div class="valid-feedback">Done</div>
                        <div class="invalid-feedback">Enter Title</div>
              
                </div>

                <div class="mb-3">

                    <label for="description" class="from-label">Description</label>
                    <br>
                    <textarea name="listing[description]" id="" type="text" class="from-control" required></textarea>
                    <div class="valid-feedback">Done</div>
                    <div class="invalid-feedback">Enter Description</div>

                </div>

                <div class="mb-3">
                    <label for="image" class="from-label">Image URL/Link</label>
                    <br>
                    <input type="text" name="listing[image]" placeholder="Enter Image URL/link" class="from-control">
                    <div class="valid-feedback">Done</div>
                    <div class="invalid-feedback">Copy link/Url</div>

                </div>

                <div class="mb-3 ">
                    <label for="price" class="from-label">Price</label>
                    <br>
                    <input  name="listing[price]" placeholder="1200" class="from-control" required>
                    <div class="valid-feedback">Done</div>
                    <div class="invalid-feedback">Enter Price</div>

                </div>

                <div class=" mb-3 ">
                    <label for="country" class="from-label">country</label>
                    <br>
                    <input type="text" name="listing[country]" placeholder="India" class="from-control" required>
                    <div class="valid-feedback">Done</div>
                    <div class="invalid-feedback">Enter Country</div>

                </div>

                <div class="mb-3">
                    <label for="location" class="from-label">Location</label>
                    <br>
                    <input type="text" name="listing[location]" placeholder="Pune,Maharastra" class="from-control"
                        required>
                        <div class="valid-feedback">Done</div>
                        <div class="invalid-feedback">Enter Location</div>

                </div>
                <br>
                <button class="btn btn-dark add-btn mt-3">Add</button>
                <br><br>
            </form>
        </div>
    </div>
    <script src="/js/script.js"></script>